*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    background-color: black;
    padding: 33px 40px  ;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
   
   
}

ul li{
    list-style-type: none;
    display: inline;
    float: left;
    margin: 20px;
}
header{
    background-image: url("img/main-slider.jpg");
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.txt {
    padding: 210px;
    padding-left: 400px;
}
p.muli-bold{
    font-family: muli-bold;
    font-size: 25px;
    line-height: 3;
}
p.light-one{
    font-family: light-one;
    font-size: 12px;
   
   
   
}
@font-face {
    font-family: muli-bold;
    src: url(fonts/Muli-Bold.ttf);
    
}
@font-face {
    font-family: light-one;
    src: url(/fonts/Muli-Light.ttf);
}
@font-face {
    font-family: light-tow;
    src: url(fonts/Muli-Light.ttf);
}
button.btn{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border:1px solid white;
    color: white;
   display: inline-block;
}
span.borderback{
   
    position: relative;
    display: block;
   margin-left: 20px;
    width: 40px;
    height: 40px;
    border: solid 2px white;
    border-radius: 100%;
    z-index: 1;
    transition: all 0.2s linear;
}
span.bordernext{
   
    position: relative;
    display: block;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border: solid 2px  white;
    border-radius: 100%;
    z-index: 1;
    transition: all 0.2s linear;
}

    